<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile</title>
</head>
<body>
	<h1>Profile </h1>

	<a href="/logout">logout</a>

<br><br>

<form method="post">
	<table border="0">
		<tr>
			<td>Name :</td>
			<td><%= user.username %></td>
		</tr>
		<tr>
			<td>PASSWORD :</td>
			<td><%= user.password %></td>
		</tr>
		<tr>
			<td>Type :</td>
			<td><%= user.type %></td>
		</tr>
		<tr>
			<td>Email :</td>
			<td><%= user.email %></td>
		</tr>
		
		
	</table>
</form>
</body>
</html>