<!DOCTYPE html>
<html>
<head>
	<title>Admin page</title>
</head>
<body>
	<h1>Welcome home Admin!</h1>
	
	
	<a href="/user/details/<%= 1 %>"> Profile </a> |
	<a href="/user/reg">Add User</a> |
	<a href="/blog/blog">Blog</a> |
	<a href="/user/userlist">View User List</a> |
	<a href="/logout">logout</a>

</body>
</html>